<div class="ui link cards">
        <div style="margin-top: 60px; margin-left: 35px; margin-right: 35px;" class="card">
                <div class="image">
                        <img class="ui fluid image" *ngIf="product.picture" [src]="product.picture"> 
                </div>
                <div class="content">
                        <div class="productName"><b>{{ product.productName | slice:0:20 }}</b></div>
                        <div class="description">
                                {{ (product.description | slice:0:30) + '...' }}
                        </div>
                </div>
                <div class="extra content">
                        <a (click)="addToCart" class="right floated" style="position: relative; z-index: 2;">
                                <i class="cart plus icon" style="visibility: visible;"></i>
                        </a>
                        <span>
                        <i class="dollar sign icon" style="visibility: visible;"></i>
                                {{ product.price }}
                        </span>
                </div>
        </div>
</div>
