<wea5-appbar-admin></wea5-appbar-admin> 

<div class="ui container" style="margin-top: 160px;">

    <div class="container">
        <div class="card">
        <div class="face face1">
            <div class="content">
            <i class="cogs icon"></i>            
            <h3>Shop Settings</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
            <p> Here you can change the shop name, your email adress and much more</p>
            <a type="button"
                (click)="goToShopSettings()">
                Watch Shop Settings
            </a>
            </div>
        </div>
    </div>

    <div class="card">
            <div class="face face1">
                <div class="content">
                    <i class="gifts icon"></i>            
                    <h3>Products</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p> Here you can manage your products</p>
                    <a type="button"
                    (click)="goToProducts()">
                    Watch Products
                    </a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="face face1">
                <div class="content">
                    <i class="receipt icon"></i>            
                    <h3>Discounts</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p> Here you can manage your discount actions and discount rules. 
                    </p>
                    <a type="button"
                    (click)="goToDiscounts()">
                    Watch Discounts
                    </a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="face face1">
                <div class="content">
                    <i class="chartline icon"></i>            
                    <h3>Statistics</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p> Here are some Statistics. Average revenue per month, average revenue per year and 
                        much more.
                    </p>
                    <a type="button"
                    (click)="goToStatistics()">
                    Watch Statistics
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>



