<wea5-appbar-admin></wea5-appbar-admin> 

<div class="ui grid container" style="margin-top: 120px;">

    <div class="five wide column ">
        <div class="ui card"  style="text-align: center; margin-right: 20px;">
            <a class="content" 
               (click)="goToShopSettings()" 
               style="padding-top: 80px;
                      padding-bottom: 80px; 
                      text-align: center;">

                <i class=" massive cogs icon" 
                style="visibility: visible; 
                        color: lightgray;">
                </i>

            </a>
            <div class="content">
                <div class="header">Shop Settings</div>
            </div>
        </div>
    </div>

    <div class="five wide column">
        <div class="ui card"  style="text-align: center;">
            <a class="content" 
               (click)="goToProducts()" 
               style="padding-top: 80px;
                    padding-bottom: 80px; 
                    text-align: center;">

                <i class=" massive gifts icon" 
                style="visibility: visible; 
                        color: lightgray;">
                </i>

            </a>
            <div class="content">
                <div class="header">Products</div>
            </div>
        </div>
    </div>

    <div class="five wide column">
        <div class="ui card"  style="text-align: center;">
            <a class="content"              
               (click)="goToDiscounts()" 
               style="padding-top: 80px;
                      padding-bottom: 80px; 
                      text-align: center;">

                <i class=" massive receipt icon" 
                style="visibility: visible; 
                        color: lightgray;">
                </i>

            </a>
            <div class="content">
                <div class="header">Discounts</div>
            </div>
        </div>
    </div>

    <div class="five wide column">
        <div class="ui card"  style="text-align: center; margin-top: 30px;">
            <a class="content" 
               (click)="goToStatistics()"
               style="padding-top: 80px;
                    padding-bottom: 80px; 
                    text-align: center;">

                <i class=" massive chartline icon" 
                style="visibility: visible; 
                        color: lightgray;">
                </i>

            </a>
            <div class="content">
                <div class="header">Statistics</div>
            </div>
        </div>
    </div>

</div>


