    <div class="four wide column" style="margin-top:auto; margin-bottom: auto; padding-left: 80px;">
        <label type="text" ><b>{{action.actionID}}</b></label>
    </div>

    <div class="ui input four wide column" style="margin-top:15px; margin-bottom: 15px;">
        <input type="number" 
               (keyup)="onKeyUpFixedAmount($event)" 
               *ngIf="percentageIsEmpty" 
               placeholder="Amount" 
               value="{{action.fixedAmount}}" 
               data-np-intersection-state="visible">
    </div>

    <div class="ui input four wide column" style="margin-top:15px; margin-bottom: 15px;">
        <input type="number" 
               name="percentageInput"
               min="0"
               max="0.99"
               step="0.01"
               (keyup)="onKeyUpPercentage($event)" 
               placeholder="Percentage" 
               *ngIf="fixedAmountIsEmpty" 
               value="{{action.percentage}}" 
               data-np-intersection-state="visible">
    </div>

    <a class="ui basic red button"
       style="margin-top: auto; margin-bottom: auto; margin-right: 15px; width: 150px;"
       (click)="deleteAction()">       
       <i class="trash icon"></i>
        Delete Action
    </a>


