<wea5-appbar-admin></wea5-appbar-admin>

<div class="ui container">
    <h2 class="ui horizontal divider header" style="margin-bottom: 35px; position: relative; top: 160px;">
        <i class="journal whills icon"></i>
        Discount Rules
    </h2>
</div>

<div class="ui container grid" style="position: relative; top: 180px;">

    <div class="three wide column" style="margin-top:15px; margin-bottom: 15px; margin-left: 60px;">
        <label type="text" ><h3>Rule Name</h3></label>
    </div>
    
    <div class="ui three wide column" style="margin-top:15px; margin-bottom: 15px; margin-left: 20px;">
        <label type="text" ><h3>Quantity</h3></label>
    </div>
    
    <div class="ui three wide column" style="margin-top:15px; margin-bottom: 15px; margin-left: 20px;">
        <label type="text" ><h3>Date From</h3></label>
    </div>

    <div class="ui three wide column" style="margin-top:15px; margin-bottom: 15px; margin-left: 25px;">
        <label type="text" ><h3>Date To</h3></label>
    </div>

    <form class="ui form" #ruleForm="ngForm"  (ngSubmit)="updateRules()">
        
        <div class="wea5-discount-rule ui container grid segment"
            *ngFor="let r of rules"
            [rule]="r"
            [routerLink]="r.ruleID">
        </div>   

        <button class="ui black button" style="width: 100%;"
                    type="submit" 
                    tabindex="0" 
                    [disabled]="ruleForm.invalid">

                Save Actions

        </button>
    </form>

    <div class="ui container grid segment" style="margin-top: 35px; margin-left: 15px; margin-right: 15px; padding: 0;">

        <div class="ui input three wide column" style="margin-top:15px; margin-bottom: 15px; margin-right: 25px;">
            <input type="text" 
                   (keyup)="onKeyUpName($event)" 
                   placeholder="Rule Name" 
                   value="{{rule.ruleName}}" 
                   data-np-intersection-state="visible">
        </div>
        
        <div class="ui input three wide column" style="margin-top:15px; margin-bottom: 15px; margin-right: 25px;">
            <input type="number" 
                   (keyup)="onKeyUpQuantity($event)" 
                   *ngIf="timeRuleIsEmpty" 
                   placeholder="Quantity" 
                   value="{{rule.qtyRuleAmount}}" 
                   data-np-intersection-state="visible"
                   style="width: 100%;">
        </div>
        
        <div class="ui input three wide column" style="margin-top:15px; margin-bottom: 15px; margin-right: 25px;">
            <input type="date" 
                   (change)="onKeyUpDateFrom($event)" 
                   *ngIf="quantityIsEmpty" 
                   placeholder="Date From" 
                   value="{{rule.timeRuleFrom}}" 
                   data-np-intersection-state="visible"
                   style="width: 100%;">
        </div>
        
        <div class="ui input three wide column" style="margin-top:15px; margin-bottom: 15px; margin-right: 25px;">
            <input type="date" 
                   (change)="onKeyUpDateTo($event)" 
                   *ngIf="quantityIsEmpty" 
                   placeholder="Date To" 
                   value="{{rule.timeRuleTo}}" 
                   data-np-intersection-state="visible"
                   style="width: 100%;">
        </div>

        <a class="ui basic green button"
            style="margin-top: auto; margin-bottom: auto; width: 150px;"
            (click)="createRule()">       
            <i class="journal whills icon"></i>
                Create Action
        </a> 

    </div>  

</div>