<wea5-appbar></wea5-appbar>

<div *ngIf="cartItems.length > 0" class="ui container segment" style="position:relative; top: 200px;">
    <h1 class="ui header" style="margin-bottom: 30px;">Cart</h1> 
    
    <wea5-cart-item-list [cart]="cart" [cartItems]="cartItems"></wea5-cart-item-list>

    <div class="ui left rail">
        <div class="ui segment">
            <div class="ui relaxed divided list">
                <div class="item">
                    <div class="content">
                      <div class="header" style="margin-bottom: 10px; margin-top: 5px;" >Discounts:</div>
                        {{ cart.sumOfDiscounts | currency }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui right rail">
        <div class="ui segment">
            <div class="ui relaxed divided list">
                <div class="item">
                    <div class="content header" style="padding-top: 15px; padding-bottom: 10px;">
                        <p style="display: inline;">Final price: </p>
                        <p class="right floated" style="display: inline;">{{ cart.finalPrice | currency }}</p>
                    </div>
                </div>
                <div class="item">
                    <div class="content" style="padding-top: 15px;">
                        <button (click)="onCheckoutClick()" class="fluid ui black labeled icon button"
                                [routerLink]="cart.shopID">
                            <i class="cart icon"></i>
                            Checkout
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="cartItems.length <= 0" class="ui container segment" style="position:relative; top: 200px;">
    <h1 class="ui header" style="margin-bottom: 30px; text-align: center;">You have no Items in your Cart at the moment..<i class="sad tear outline icon"></i></h1> 
    <h3 style="text-align: center;">Wanna buy some Stuff?</h3>
    <button (click)="goToShops()" class="fluid ui black labeled icon button" style="width: 30%; margin-right: auto; margin-left: auto;">
       <i class="cart icon"></i>
        Go Shopping
    </button>
</div>