<wea5-appbar></wea5-appbar>

<div class="ui container segment" style="position:relative; top: 200px;">
    <h1 class="ui header" style="margin-bottom: 30px;">Cart</h1>
    
    <wea5-cart-item-list [cart]="cart"></wea5-cart-item-list>

    <div class="ui left rail">
        <div class="ui segment">
            <div class="ui relaxed divided list">
                <div class="ui fluid action input">          
                    <div class="ui teal button">Activate</div>
                    <input type="text" placeholder="Insert Coupon Code..." data-np-intersection-state="visible">
                </div>
                <div class="extra content" style="padding-top: 25px; padding-left: 5px;">
                    <span>
                        <b>Discounts: </b>
                    </span>
                    <span style="float:right;">
                        {{ cart.sumOfDiscounts | currency }}
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="extra content" style="padding-top: 25px;">
        <button class="ui teal labeled icon button">
            <i class="cart icon"></i>
            Checkout
        </button>
        <span style="float:right; padding-top: 10px; padding-right: 15px;">
            {{ cart.finalPrice | currency }}
        </span>
    </div>

    <div class="ui right rail">
        <div class="ui segment">
            <div class="ui relaxed divided list">
                <div class="item">
                    <div class="content header" style="padding-top: 15px; padding-bottom: 10px;">
                        <p style="display: inline;">Final price: </p>
                        <p class="right floated" style="display: inline;">{{ cart.finalPrice | currency }}</p>
                    </div>
                </div>
                <div class="item">
                    <div class="content" style="padding-top: 15px;">
                        <button (click)="onCheckoutClick()" class="fluid ui teal labeled icon button">
                            <i class="cart icon"></i>
                            Checkout
                        </button>
                    </div>
                </div>
            </div>
        <div>
    </div>
    
</div>