<div class="ui menu" 
     style="height: 80px; 
            width: 100%; 
            border-radius: 0; 
            position:fixed;
            top:0; 
            z-index: 1;">

    <a [routerLink]="['/home']" routerLinkActive="active" class="item" style="margin-left: 200px;">Home</a>
    <a [routerLink]="['/shops']" routerLinkActive="active" class="item">Shops</a>

    <div class="right menu">
      <div class="item">
          <wea5-search (productsSelected)="productsSelected($event)" class="column"> </wea5-search>
      </div>
      <a (click)="goToCart()" routerLinkActive="active" class="item" style="padding-right: 40px;">
        <i class="shopping cart icon" style="visibility: visible;"></i>
      </a>
    </div>
</div>
 