<div class="ui attached stackable menu" 
     style="height: 80px; 
            width: 100%; 
            border-radius: 0; 
            position:fixed;
            top:0; 
            z-index: 1;
            background-color: #333;
            border: none;">


    <div class="ui container">
        <a [routerLink]="['/home']" 
            routerLinkActive="active" 
            class="item" 
            style="color: whitesmoke;">
            <i class="home icon" style="margin-right: 10px;"></i>
            Home
        </a>
        <a [routerLink]="['/shops']" 
            routerLinkActive="active" 
            class="item"
            style="color: whitesmoke;">
            <i class="store icon" style="margin-right: 10px;"></i>
            Shops
        </a>


    </div>

</div>




 