
<div class="ui input three wide column" style="margin-top:15px; margin-bottom: 15px; margin-right: 25px;">
    <input type="text" placeholder="Rule Name" value="{{rule.ruleName}}" data-np-intersection-state="visible">
</div>

<div class="ui input three wide column" style="margin-top:15px; margin-bottom: 15px; margin-right: 25px;">
    <input type="text" placeholder="Quantity" value="{{rule.qtyRuleAmount}}" data-np-intersection-state="visible">
</div>

<div class="ui input three wide column" style="margin-top:15px; margin-bottom: 15px; margin-right: 25px;">
    <input type="text" placeholder="Date From" value="{{rule.timeRuleFrom}}" data-np-intersection-state="visible">
</div>

<div class="ui input three wide column" style="margin-top:15px; margin-bottom: 15px; margin-right: 25px;">
    <input type="text" placeholder="Date To" value="{{rule.timeRuleTo}}" data-np-intersection-state="visible">
</div>

<a class="ui basic red button" style="margin-top: auto; margin-bottom: auto; width: 150px;">
    <i class="trash icon"></i>
    Delete Rule
</a>

