<div class="ui segment" style="height: 10%; margin-bottom: 0;">
    <h1 style="text-align: center; padding: 30px;">Welcome to CaaS</h1>
</div>
<div class="ui placeholder segment" style="height: 90%; margin-top: 0;">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <div class="ui form">
        <div class="field">
          <label>Shop Name</label>
          <div class="ui left icon input">
            <input type="text" placeholder="Shop Name">
            <i class="store icon"></i>
          </div>
        </div>
        <div class="ui blue submit button" (click)="login()">Login</div>
        <div class="field" style="margin-top: 10px;">
            <label>Wanna sell your items?</label>
            <div class="ui blue submit button">Create Shop</div>
          </div>
      </div>
    </div>
    <div class="middle aligned column">
      <a (click)="browseShops()" class="ui blue button">
        Browse Shops
        <i class="right arrow icon"></i>
      </a>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>