<wea5-appbar-admin></wea5-appbar-admin>

<div class="ui container">
    <h2 class="ui horizontal divider header" style="margin-bottom: 55px; position: relative; top: 160px; color: whitesmoke;">
        <i class="big chartline icon"></i>
        Shop Statistics
    </h2> 
</div>

<!-- avg for order per month -->
<div class="ui container inverted segment" style="position: relative; top:160px;">

    <form class="ui form" #avgRevPerOrderMonthForm="ngForm" 
          (ngSubmit)="getAvgRevPerOrderForMonth()">

        <div class="ui grid">
            <div class="five wide column">
                <div class="ui statistic">
                    <div class="value" style="color: whitesmoke;">
                    $ {{displayAvgRevPerOrderForMonth}}
                    </div>
                    <div class="label" style="color: whitesmoke;">
                        Average for Order per year
                    </div>
                </div>
            </div>

            <div class="four wide column" style="margin-top: auto; margin-bottom: auto; text-align: center; padding-bottom: 0;">
                <div class="ui input">
                    <input type="text" [(ngModel)]="averageRevPerOrderForMonth.year" name="year" data-np-intersection-state="visible">
                </div>   <br>
                <div class="ui statistic" style="margin-top: 5px; margin-bottom: 0;">
                    <div class="label" style="color: whitesmoke;">
                        Year
                    </div>
                </div>
            </div>

            <div class="four wide column" style="margin-top: auto; margin-bottom: auto; text-align: center; padding-bottom: 0;">
                <div class="ui input">
                    <input type="text" [(ngModel)]="averageRevPerOrderForMonth.month" name="year" name="month" data-np-intersection-state="visible">
                </div>   <br>
                <div class="ui statistic" style="margin-top: 5px; margin-bottom: 0;">
                    <div class="label" style="color: whitesmoke;">
                        Month
                    </div>
                </div>
            </div>

            <div class="three wide right aligned column" style="margin-top: auto; margin-bottom: auto;">
                <button class="ui black button" 
                        type="submit" 
                        tabindex="0" 
                        [disabled]="avgRevPerOrderMonthForm.invalid">
                    Calculate
                </button>
            </div>
        </div>
    </form>
</div>


<!-- avg for order per year -->
<div class="ui container inverted segment" style="position: relative; top:160px;">

    <form class="ui form" #avgRevPerOrderYearForm="ngForm" 
          (ngSubmit)="getAvgRevPerOrderForYear()">

        <div class="ui grid">
            <div class="six wide column">
                <div class="ui statistic">
                    <div class="value" style="color: whitesmoke;">
                    $ {{displayAvgRevPerOrderForYear}}
                    </div>
                    <div class="label" style="color: whitesmoke;">
                        Average for Order per month
                    </div>
                </div>
            </div>

            <div class="six wide column" style="margin-top: auto; margin-bottom: auto; text-align: center; padding-bottom: 0;">
                <div class="ui input">
                    <input type="text" [(ngModel)]="averageRevPerOrderForYear.year" name="year" data-np-intersection-state="visible">
                </div>   <br>
                <div class="ui statistic" style="margin-top: 5px; margin-bottom: 0;">
                    <div class="label" style="color: whitesmoke;">
                        Year
                    </div>
                </div>
            </div>

            <div class="four wide right aligned column" style="margin-top: auto; margin-bottom: auto;">
                <button class="ui black button" 
                        type="submit" 
                        tabindex="0" 
                        [disabled]="avgRevPerOrderYearForm.invalid">
                    Calculate
                </button>
            </div>
        </div>
    </form>
</div>


<!-- Total Revenue for Month -->
<div class="ui container inverted segment" style="position: relative; top:160px;">

    <form class="ui form" #totalRevPerOrderMonthForm="ngForm" 
          (ngSubmit)="getTotalRevPerOrderForMonth()">

        <div class="ui grid">
            <div class="five wide column">
                <div class="ui statistic">
                    <div class="value" style="color: whitesmoke;">
                    $ {{displayTotalRevPerOrderForMonth}}
                    </div>
                    <div class="label" style="color: whitesmoke;">
                        Total for Order per month
                    </div>
                </div>
            </div>

            <div class="four wide column" style="margin-top: auto; margin-bottom: auto; text-align: center; padding-bottom: 0;">
                <div class="ui input">
                    <input type="text" [(ngModel)]="totalRevForMonth.year" name="year" data-np-intersection-state="visible">
                </div>   <br>
                <div class="ui statistic" style="margin-top: 5px; margin-bottom: 0;">
                    <div class="label" style="color: whitesmoke;">
                        Year
                    </div>
                </div>
            </div>

            <div class="four wide column" style="margin-top: auto; margin-bottom: auto; text-align: center; padding-bottom: 0;">
                <div class="ui input">
                    <input type="text" [(ngModel)]="totalRevForMonth.month" name="year" name="month" data-np-intersection-state="visible">
                </div>   <br>
                <div class="ui statistic" style="margin-top: 5px; margin-bottom: 0;">
                    <div class="label" style="color: whitesmoke;">
                        Month
                    </div>
                </div>
            </div>

            <div class="three wide right aligned column" style="margin-top: auto; margin-bottom: auto;">
                <button class="ui black button" 
                        type="submit" 
                        tabindex="0" 
                        [disabled]="totalRevPerOrderMonthForm.invalid">
                    Calculate
                </button>
            </div>
        </div>
    </form>
</div>


<!-- Total Revenue per year -->
<div class="ui container inverted segment" style="position: relative; top:160px;">

    <form class="ui form" #totalRevPerOrderYearForm="ngForm" 
          (ngSubmit)="getTotalRevPerOrderForYear()">

        <div class="ui grid">
            <div class="six wide column">
                <div class="ui statistic">
                    <div class="value" style="color: whitesmoke;">
                    $ {{displayTotalRevPerOrderForYear}}
                    </div>
                    <div class="label" style="color: whitesmoke;">
                        Total for Order per year
                    </div>
                </div>
            </div>

            <div class="six wide column" style="margin-top: auto; margin-bottom: auto; text-align: center; padding-bottom: 0;">
                <div class="ui input">
                    <input type="text" [(ngModel)]="totalRevForYear.year" name="year" data-np-intersection-state="visible">
                </div>   <br>
                <div class="ui statistic" style="margin-top: 5px; margin-bottom: 0;">
                    <div class="label" style="color: whitesmoke;">
                        Year
                    </div>
                </div>
            </div>

            <div class="four wide right aligned column" style="margin-top: auto; margin-bottom: auto;">
                <button class="ui black button" 
                        type="submit" 
                        tabindex="0" 
                        [disabled]="totalRevPerOrderYearForm.invalid">
                    Calculate
                </button>
            </div>
        </div>
    </form>
</div>

<!-- Number of Current open carts -->
<div class="ui container inverted segment" style="position: relative; top:160px;">

    <form class="ui form" #numberOfCurrentCartsForm="ngForm" 
          (ngSubmit)="getCurrentCarts()">

        <div class="ui grid">
            <div class="eight wide column">
                <div class="ui statistic">
                    <div class="value" style="color: whitesmoke;">
                        {{displayNumberOfCurrentCarts}}
                    </div>
                    <div class="label" style="color: whitesmoke;">
                        Number of open carts
                    </div>
                </div>
            </div>

            <div class="eight wide right aligned column" style="margin-top: auto; margin-bottom: auto;">
                <button class="ui black button" 
                        type="submit" 
                        tabindex="0" 
                        [disabled]="numberOfCurrentCartsForm.invalid">
                    Calculate
                </button>
            </div>
        </div>
    </form>
</div>