<div class="ui grid inverted container centered" style="margin-top: 200px;">
    <div class="ui inverted card">
        <div class="image">
          <img [src]="shop.picture">
        </div>
        <div class="content">
          <div class="header">{{shop.shopName}}</div>
          <div class="meta">
            <span class="date">{{shop.tenantUser}}</span>
          </div>
          <div class="description">
            {{shop.tenantEmail}}
          </div>
        </div>
        <div class="extra content">
          <a class="ui basic inverted black button" style="width: 40%;" (click)="backHome()"> 
            <i class="arrow left icon"></i>       
            Home        
          </a>
          <a class="ui basic inverted black button" style="width: 40%;" (click)="continueToShop()">
            Shop   
            <i class="arrow right icon"></i>       
          </a>
        </div>
      </div>
</div>

<!-- <div class="ui container" style="margin-top: 160px; margin-right: auto; margin-left: auto;">

  <div class="container" style="margin-right: auto; margin-left: auto;"> 
      <div class="card">
          <div class="face face1">
              <div class="content">
                <div class="image">
                  <img class="ui fluid image" 
                       [src]="shop.picture" 
                       style="height: 140px; width: 280px;"> 
                   </div>             
                  <h3>{{shop.shopName}}</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                <h4>{{shop.tenantUser}}</h4>
                <h4>{{shop.tenantEmail}}</h4>
                <a type="button"
                  (click)="backHome()">
                  <i class="arrow left icon"></i>       
                  Home
                </a>
                <a type="button"
                  (click)="continueToShop()">
                  Shop
                  <i class="arrow right icon"></i>       
                </a>
              </div>
          </div>
      </div>
  </div> -->
