<wea5-appbar></wea5-appbar> 

<form class="ui form container" #myForm="ngForm" (ngSubmit)="submitForm()" style="position:relative; top: 200px;">
    <h3 class="ui inverted dividing header">Shipping Information</h3>
    <div class="required field">
      <label style="color: whitesmoke;">Name</label>
      <div class="two fields">
        <div class="field">
          <input type="text" 
                 name="firstName" 
                 [(ngModel)]="customer.firstName" 
                 placeholder="First Name" 
                 pattern="[a-zA-Z-:,?!äöü ]*"
                 required>
                 <div *ngIf="errors['firstName']" class="ui negative message">
                  {{ errors['firstName'] }}
                </div>
        </div>
        <div class="field">
          <input type="text" 
                 name="lastName" 
                 [(ngModel)]="customer.lastName" 
                 placeholder="Last Name" 
                 required
                 pattern="[a-zA-Z-:,?!äöü ]*"> 
                 <div *ngIf="errors['lastName']" class="ui negative message">
                  {{ errors['lastName'] }}
                </div>
        </div>
      </div>
    </div>
    <div class="required field">
      <label style="color: whitesmoke;">Email Address</label>
        <div class="sixteen wide field">
          <input type="email" 
                 name="email" 
                 [(ngModel)]="customer.email" 
                 placeholder="shipittome@fast.com" 
                 required
                 email>
                 <div *ngIf="errors['email']" class="ui negative message">
                  {{ errors['email'] }}
                </div>
        </div>
    </div>

    <h3 class="ui inverted dividing header">Billing Information</h3>

    <div class="required fields">
      <div class="sixteen wide field">
        <label style="color: whitesmoke; width: 100%;">Card Number</label>
        <input type="text" 
               name="cardNumber" 
               [(ngModel)]="customer.creditCardNumber" 
               placeholder="Card Number" 
               required
               pattern="[0-9]{16}" 
               maxlength="16" 
               minlength="16">
               <div *ngIf="errors['cardNumber']" class="ui negative message">
                {{ errors['cardNumber'] }}
              </div>
      </div>
    </div>

    <div class="ui error message"></div>

    <button 
            type="submit" 
            class="ui button" 
            [disabled]="myForm.invalid" 
            tabindex="0">

            Submit Order
    </button>
  
</form>


  

